<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavCmp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <WavCmp.Properties.Settings>
            <setting name="File1" serializeAs="String">
                <value />
            </setting>
            <setting name="File2" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOut" serializeAs="String">
                <value />
            </setting>
            <setting name="SampleOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamOrigin" serializeAs="String">
                <value>False</value>
            </setting>
        </WavCmp.Properties.Settings>
    </userSettings>
</configuration>
